* {
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:#333;
}

.topnav li {
    float:left;
}

.topnav li a {
    display:block;
    padding:14px 16px;
    color:white;
    text-decoration:none;
}

.topnav li a:hover {
    background-color: #111;
}

.topnav .active {
    background-color:rgb(0, 74, 134);
}

ol {
    margin:0;
    padding:0;
}

ol li {
    color:white;
    display:block;
    background-color:rgb(15, 15, 53);
    padding: 10px 30px;
    margin:5px;
}

ol li a {
    color:skyblue;
    text-decoration:none;
}

article {
    display:block;
}